<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.sarvwood.workshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.APP"
        android:allowBackup="true"
        android:icon="@drawable/logo_name"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".firebase.SarvPushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroSliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoreActivity"
            android:screenOrientation="portrait" />
        <activity   android:name=".activity.ContainerActivity" android:screenOrientation="portrait" />
        <activity   android:name=".activity.SupplierActivity" android:screenOrientation="portrait" />
        <activity   android:name=".activity.OrderHeaderActivity" android:screenOrientation="portrait" />
    </application>

</manifest>